{{ block content }}
<!DOCTYPE html>
<html>
    <head>
        <style>

            #box {
            padding:50px;
            width: 850px;
            height: 250px;
            grid-template-columns: 80px 10px 80px;
            justify-content: space-between;
            display: flex;
            border: 5px solid white;
            }

            #startpoint{
            width: 100px;
            height: 100px;
            top:50%;
            border: 5px solid white;
            margin:76px;
            }

            #target1 {
            width: 205px;
            height: 180px;
            border: 5px solid rgb(30, 87, 212);
            border-top-color: white;
            }

            #target2 {
            width: 205px;
            height: 180px;
            border: 5px solid rgb(250, 225, 0);
            border-top-color: white;
            }

            #dragtarget1 {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            background-color: black;
            }

        </style>
    </head>
    <body>

        <p>
            <strong>Importante:</strong> Para poder colocar la pelota dentro de una de las cestas, haga "click" en la pelota del medio y arrastrelo hasta una de las cestas
            luego suelta el "click" y la pelota caera dentro de la canasta deseada. 
            <strong>Tomar en cuenta que una vez que hayas colocado la pelota en una de las cestas no podras volver a seleccionarla</strong>
        </p>

        <p>Si le quedo claro las indicaciones, por favor dar click en "empezar" </p>

        <button type = 'button' onclick="document.getElementById('dragtarget1').removeAttribute('hidden')">Empezar</button>

        <p id='balls_left' style='color:purple; text-align: center'></p>

        <p id = 'mensaje_final' style='color:red; text-align: center'></p>

        <div id = 'box' >

            <div id='target1' draggable="false">
                <p id='ball_counter1' draggable="false"></p>
            </div>

            <div id='startpoint' draggable="false">
                <div class = 'bolita' draggable='true' id = "dragtarget1" hidden></div>
            </div>

            <div id='target2' draggable="false">
                <p id = "ball_counter2" draggable="false"></p>
            </div>

        </div>

        <input type="hidden" name = "blue_balls" id='blue_balls' value='0'>
        <input type = "hidden" name = "yellow_balls" id='yellow_balls' value = '0'>

        <br>
        <br>

        <button id = "boton" class="otree-btn-next btn btn-primary" hidden>Siguiente</button>

        <script>

            document.addEventListener('dragstart',function(event){

                if (event.target.className == 'bolita')
                {
                    var validator = document.getElementById(event.target.id).parentElement.id == "target1" || document.getElementById(event.target.id).parentElement.id == "target2";
                    
                    if (validator)
                    {
                        console.log("No puede mover el elemento que ya puso");
                    }
                    else 
                    {
                        console.log(event.target.id);
                        event.dataTransfer.setData('div',event.target.id);
                        console.log(event.dataTransfer.setData('div',event.target.id));
                    }
                }
                
                
            });

            document.addEventListener("dragend", function(event) {
            
                var sum_boxes = document.getElementById('target1').childElementCount + document.getElementById('target2').childElementCount 
                var num_balls_limit = 10 //aca se pone el numero maximo de bolas que pueden colocar
                
                var bolitas = document.getElementsByClassName('bolita');

                if (document.getElementById("startpoint").childElementCount == 0)
                {

                    for (let ball of bolitas)
                    {
                        ball.removeAttribute("draggable");
                    }
                    if (sum_boxes == num_balls_limit+2)
                    {
                        document.getElementById('blue_balls').value = document.getElementById('target1').childElementCount-1;
                        document.getElementById('yellow_balls').value = document.getElementById('target2').childElementCount-1;
                        
                        document.getElementById("mensaje_final").innerHTML = 'Se acabaron las bolitas, por favor dar click en "Siguiente" '

                        boton = document.getElementById('boton').removeAttribute('hidden')
                    }
                    else
                    {
                        var new_ball = document.createElement('div');
                        var parent = document.getElementById('startpoint');
                        var new_id_number = 0;
                        var new_id = "";

                        console.log('Caja de partida:', document.getElementById('startpoint').childElementCount);
                        console.log('Caja azul:',document.getElementById('target1').childElementCount);
                        console.log('Caja amarilla: ',document.getElementById('target2').childElementCount);

                        new_id_number = Math.random()*(20-1)+1;
                        new_id = 'dragtarget' + new_id_number;
                        
                        console.log('Nuevo Id para el nueva bolita',new_id);

                        new_ball.setAttribute('id',new_id);
                        new_ball.setAttribute('draggable','true');
                        
                        new_ball.className = 'bolita';
                        new_ball.style.display = 'inline-block';
                        new_ball.style.borderRadius = '50%';
                        new_ball.style.height = '20px';
                        new_ball.style.width = '20px';

                        var first_color = Math.random()*(255-40)+40; 
                        var second_color = Math.random()*(255-40)+40; 
                        var third_color = Math.random()*(255-40)+40; 

                        new_ball.style.backgroundColor = "rgb("+first_color+","+second_color+","+third_color+")";

                        parent.appendChild(new_ball);
                        
                    }
                }

                var balls_blue = document.getElementById('target1').childElementCount - 1;
                var balls_yellow = document.getElementById('target2').childElementCount - 1

                document.getElementById('ball_counter1').innerHTML = ''+(balls_blue);
                document.getElementById('ball_counter2').innerHTML = ''+(balls_yellow);

                document.getElementById('balls_left').innerHTML = 'Pelotas restantes: '+(num_balls_limit - balls_blue-balls_yellow)
            });

            document.addEventListener("dragenter", function(event) {
                if ( event.target.id == "target2" ) {
                    event.target.style.border = "3px dotted yellow";
                }

                if ( event.target.id == "target1" ) {
                    event.target.style.border = "3px dotted blue";
                }
            });

            document.addEventListener("dragover", function(event) {
                event.preventDefault();
            });

            document.addEventListener("dragleave", function(event) {
                if ( event.target.id == "target1" ) {
                    event.target.style.border = "";
                }

                if ( event.target.id == "target2" ) {
                    event.target.style.border = "";
                }
            });

            document.addEventListener("drop", function(event) {
                event.preventDefault();

                if ( event.target.id == "target1" ) {
                    event.target.style.border = "";
                    var data = event.dataTransfer.getData("div");
                    event.target.appendChild(document.getElementById(data));
                    console.log('dropreamos el div en el cuadro azul');
                }

                if ( event.target.id == "target2" ) {
                    event.target.style.border = "";
                    var data = event.dataTransfer.getData("div");
                    event.target.appendChild(document.getElementById(data));
                    console.log('dropreamos el div en el cuadro amarillo');
                }
            });

        </script>   
    </body>
</html>
{{ endblock }}
