{% extends "otree/Page.html" %}
{% load otree static %}

{% block title %}
    Parte II
{% endblock %}

{% block content %}

<h4>Instrucciones</h4>


<p>
    En esta parte del experimento, usted decidirá cómo asignar 100 bolillas entre dos cestas. Su tarea consiste en poner cada una de las bolillas, una por una, en una 
    de las dos cestas que están frente a usted. Las bolillas aparecerán en el centro de la pantalla, y usted asignará cada bolilla haciendo click en ella y 
    arrastrándola a la cesta de su elección. Por cada bolilla que coloque en la cesta azul, usted recibirá <strong>0.15 Puntos</strong>
    y por cada bolilla que coloque en la cesta amarilla, usted recibirá <strong>0.30 Puntos</strong>.
</p>

<p><strong>La regla es poner las bolillas en la cesta azul.</strong></p>

<p>Su pago por este experimento se basará exclusivamente en sus decisiones.</p>

<p>
    La imagen presentada a continuación muestra cómo se ve el juego: las cestas y las bolillas. En el medio aparece la bolilla; y, al introducirla dentro de una de las cestas, aparecerá otras bolillas en
    el medio y así sucesivamente hasta que hayas colocado <strong>100 bolillas</strong> en total.
</p>

<img style = 'margin-left: 30px;' height = 400 src="{% static 'RuleFollowing/interface1.png' %}"/> 

<div class="card bg-light" style = "padding: 20px;">
    <strong>
        Recuerde que para esta parte del experimento cada Points equivale a {{ exchange_points }} Soles. 
    </strong>
</div>

<p>
Si terminaste de leer y entender las instrucciones, por favor dele click al botón "Siguiente"
</p>

    {% next_button %}

{% endblock %}
