{% block title %}
    Juego 2 
{% endblock %}

{% block content %}

<h4>Instrucciones</h4>


<p>
    En este juego se te presentaran dos canastas, una azul y una amarilla. Ademas apareceran pelotas entre ambas cestas. 
    Colocar una pelota dentro de la cesta azul otorga un pago de <strong>0.10 soles</strong> mientras que la cesta amarilla paga <strong>0.15 soles</strong>.
    Tu tarea consiste en color las pelotas que aparezcan dentro de la cesta azul.
</p>

<p>
    La imagen a continuacion muestra como se ve el juego: las cestas y las pelotas. En el medio aparece la pelota pero al introducirla dentro de una de las cestas aparecera otra pelota en
    el medio y asi sucesivamente hasta que hayas colocado <strong>100 pelotas</strong> en total
</p>

<br>
<br>
<br>
<br>
<br>
<br>

<p>
Si terminaste de leer y entender las instrucciones, por favor dale al boton "Siguiente"
</p>

    {% next_button %}

{% endblock %}
