{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Resultados
{% endblock %}

{% block content %}

    <p style='color:blue'>Cantidad de bolitas en la cesta azul: <strong>{{ blue_balls }}</strong></p>
    <p style='color:rgb(233, 233, 43)'>Cantidad de bolitas en la cesta amarilla: <strong>{{ yellow_balls }}</strong></p>

    <p>Pago final sería: <strong style="color:blue">{{ pay_blue }}</strong> + <strong style="color:rgb(233, 233, 43)">{{ pay_yellow }}</strong> = {{ pago_final }} y en Soles es <strong>{{ pago_final_soles }}</strong>
    </p>


    {% next_button %}
{% endblock %}


