{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ejemplo 2
{% endblock %}

{% block content %}

<p align=”justify”>Este ejemplo es el mismo que la <b>Serie 1</b></p>

<p align=”justify”>
  Supón que quieres escoger la Lotería A para todas las preguntas. Para ello, llena las casillas de la siguiente manera
</p>

<p align=”justify”>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-ova7{font-weight:bold;font-style:italic;background-color:#000000;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle}
.tg .tg-u3q6{font-weight:bold;background-color:#000000;color:#ffffff;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-4f0n{background-color:#000000;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-ncd7{background-color:#ffffc7;border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-u3q6">Alternativa</th>
    <th class="tg-4f0n" colspan="2"><span style="font-weight:700;font-style:italic">Lotería A</span><br></th>
    <th class="tg-ova7" colspan="2">Lotería B</th>
  </tr>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">68 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">75 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">3</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">83 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">4</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">93 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">5</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">106.5 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">6</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">125 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">7</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">150 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">8</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">185 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">9</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">220 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">10</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">300 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">11</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">400 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">12</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">600 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">13</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">1000 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0pky">14</td>
    <td class="tg-ncd7">40 solex con 30% de seguridad</td>
    <td class="tg-ncd7">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">1700 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
</table>
</p>

    <p align=”justify”>
      Escojo la lotería A desde la opción 1 hasta la opción: <b>14</b> <br><br>
      Escojo la lotería B desde la opción: <b>Ninguna</b>
    </p>

    <p align=”justify”>
    {% next_button %}
    </p>


{% endblock %}
