{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ejemplo 1
{% endblock %}

{% block content %}


<p align=”justify”>Este ejemplo es el mismo que la <b>Serie 1</b>. Hay dos planes A y B para cada pregunta. Hay 
  10 bolillas numeradas 1,2,3,4,5,6,7,8,9 y 10 que determinan los pagos de cada plan. Usted debe escoger plan A o 
  plan B en cada pregunta
</p>

<p align=”justify”>Observemos la Pregunta 1</p>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-g1fv{background-color:#333333;color:#ffffff;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0449{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-g1fv">Alternativa</th>
    <th class="tg-0449" colspan="2">Lotería A</th>
    <th class="tg-0449" colspan="2">Lotería B</th>
  </tr>
  <tr>
    <td class="tg-fymr">1</td>
    <td class="tg-0pky">40 solex con 30% de seguridad</td>
    <td class="tg-0pky">10 solex con 70% de seguridad</td>
    <td class="tg-0pky">68 solex con 10% de seguridad</td>
    <td class="tg-0pky">5 solex con 90% de seguridad</td>
  </tr>
</table>

<p align=”justify”>
  <br>
  La computadora seleccionará al azar un valor entre 10 posibles opciones: 1, 2, 3, ... 9, 10. <br><br>
  De esta manera, el número 1 es seleccionado al azar por la computadora, quienes escogieron el plan A
  recibirán 40 Solex y; quienes escogieron el plan B, recibirán 68 Solex. <br><br>
  Asimismo, si el número 3 es seleccionado al azar por la computadora, quienes hayan escogido el plan A recibirán 40 solex y, quienes escogieron el
  plan B, recibirán 68 solex. <br><br>
  Si el número 6 es seleccionado al azar por la computadora, quienes hayan escogido el plan A recibirán
  10 solex y, quienes escogieron el plan B, recibirán 5 solex. <br><br>
</p>

<p align=”justify”>
  Supongamos que usted escoge el plan A desde la pregunta 1 hasta la pregunta 5, y el plan B desde la pregunta 6 hasta la pregunta 14. Entonces, sus respuestas
  se pueden ilustrar de la siguiente manera
</p>

<p align=”justify”>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-ova7{font-weight:bold;font-style:italic;background-color:#000000;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle}
.tg .tg-u3q6{font-weight:bold;background-color:#000000;color:#ffffff;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-4f0n{background-color:#000000;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-m9r4{background-color:#ffffc7;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-u3q6">Alternativa</th>
    <th class="tg-4f0n" colspan="2"><span style="font-weight:700;font-style:italic">Lotería A</span><br><br></th>
    <th class="tg-ova7" colspan="2">Lotería B</th>
  </tr>
  <tr>
    <td class="tg-0lax">1</td>
    <td class="tg-m9r4">40 solex con 30% de seguridad</td>
    <td class="tg-m9r4">10 solex con 70% de seguridad</td>
    <td class="tg-0lax">68 solex con 10% de seguridad</td>
    <td class="tg-0lax">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">2</td>
    <td class="tg-m9r4">40 solex con 30% de seguridad</td>
    <td class="tg-m9r4">10 solex con 70% de seguridad</td>
    <td class="tg-0lax">75 solex con 10% de seguridad</td>
    <td class="tg-0lax">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-m9r4">40 solex con 30% de seguridad</td>
    <td class="tg-m9r4">10 solex con 70% de seguridad</td>
    <td class="tg-0lax">83 solex con 10% de seguridad</td>
    <td class="tg-0lax">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-m9r4">40 solex con 30% de seguridad</td>
    <td class="tg-m9r4">10 solex con 70% de seguridad</td>
    <td class="tg-0lax">93 solex con 10% de seguridad</td>
    <td class="tg-0lax">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">5</td>
    <td class="tg-m9r4">40 solex con 30% de seguridad</td>
    <td class="tg-m9r4">10 solex con 70% de seguridad</td>
    <td class="tg-0lax">106.5 solex con 10% de seguridad</td>
    <td class="tg-0lax">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">6</td>
    <td class="tg-0lax">40 solex con 30% de seguridad</td>
    <td class="tg-0lax">10 solex con 70% de seguridad</td>
    <td class="tg-m9r4">125 solex con 10% de seguridad</td>
    <td class="tg-m9r4">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">40 solex con 30% de seguridad</td>
    <td class="tg-0lax">10 solex con 70% de seguridad</td>
    <td class="tg-m9r4">150 solex con 10% de seguridad</td>
    <td class="tg-m9r4">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">40 solex con 30% de seguridad</td>
    <td class="tg-0lax">10 solex con 70% de seguridad</td>
    <td class="tg-m9r4">185 solex con 10% de seguridad</td>
    <td class="tg-m9r4">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">40 solex con 30% de seguridad</td>
    <td class="tg-0lax">10 solex con 70% de seguridad</td>
    <td class="tg-m9r4">220 solex con 10% de seguridad</td>
    <td class="tg-m9r4">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">10</td>
    <td class="tg-0lax">40 solex con 30% de seguridad</td>
    <td class="tg-0lax">10 solex con 70% de seguridad</td>
    <td class="tg-m9r4">300 solex con 10% de seguridad</td>
    <td class="tg-m9r4">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">11</td>
    <td class="tg-0lax">40 solex con 30% de seguridad</td>
    <td class="tg-0lax">10 solex con 70% de seguridad</td>
    <td class="tg-m9r4">400 solex con 10% de seguridad</td>
    <td class="tg-m9r4">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">12</td>
    <td class="tg-0lax">40 solex con 30% de seguridad</td>
    <td class="tg-0lax">10 solex con 70% de seguridad</td>
    <td class="tg-m9r4">600 solex con 10% de seguridad</td>
    <td class="tg-m9r4">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">13</td>
    <td class="tg-0lax">40 solex con 30% de seguridad</td>
    <td class="tg-0lax">10 solex con 70% de seguridad</td>
    <td class="tg-m9r4">1000 solex con 10% de seguridad</td>
    <td class="tg-m9r4">5 solex con 90% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-0lax">14</td>
    <td class="tg-0lax">40 solex con 30% de seguridad</td>
    <td class="tg-0lax">10 solex con 70% de seguridad</td>
    <td class="tg-m9r4">1700 solex con 10% de seguridad</td>
    <td class="tg-m9r4">5 solex con 90% de seguridad</td>
  </tr>
</table>
</p>

    <p align=”justify”>
      Escojo la lotería A desde la opción 1 hasta la opción: <b>5</b> <br><br>
      Escojo la lotería B desde la opción: <b>6</b>
    </p>

    <p align=”justify”>
    {% next_button %}
    </p>


{% endblock %}
