{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<p align=”justify”>Ahora miremos la <b>Serie 3</b>. En esta serie, usted puede perder dinero.
</p>

<p align=”justify”>
  Este ejemplo es el mismo que la pregunta 29 en la Serie 3. Hay dos planes A y B, para 
  cada pregunta. Hay 10 bolillas numeradas 1,2,3,4,5,6,7,8,9 y 10 que determinan los pagos de cada plan.
Usted debe escoger plan A o plan B en cada pregunta.
</p>

<p align=”justify”>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-ova7{font-weight:bold;font-style:italic;background-color:#000000;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle}
.tg .tg-u3q6{font-weight:bold;background-color:#000000;color:#ffffff;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-4f0n{background-color:#000000;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-u3q6">Alternativa</th>
    <th class="tg-4f0n" colspan="2">Lotería A</th>
    <th class="tg-ova7" colspan="2">Lotería B</th>
  </tr>
  <tr>
    <td class="tg-0lax">29</td>
    <td class="tg-0lax">25 solex con 50% de seguridad</td>
    <td class="tg-0lax">-4 solex con 50% de seguridad</td>
    <td class="tg-0lax">30 solex con 50% de seguridad</td>
    <td class="tg-0lax">-21 solex con 50% de seguridad</td>
  </tr>
</table>
</p>

    <p align=”justify”>
      La computadora seleccionará al azar un valor entre 10 posibles opciones: 1, 2, 3, ... 9, 10. <br><br>
      De esta manera, si el número 1,2,3,4 o 5 es seleccionado al azar por la computadora, 
      quienes escogieron el plan A recibirán 25 Solex, y quienes escogieron el plan B, recibirán 30 Solex. <br><br>
      Por otro lado, si el número 6,7,8,9 o 10 es seleccionado al azar por la computadora, quienes escogieron el plan A 
      perderán 4 Solex y quienes escogieron el plan B, perderán 21 Solex. <br><br>
      Las <b>pérdidas</b> se restarán de una <b>dotación base</b> de 30 Solex.
    </p>

    <p align=”justify”>
    {% next_button %}
    </p>


{% endblock %}
