{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Parte 3
    </h3>

    <h4>
        Instrucciones
    </h4>

    <p>
        En esta parte, tus ganancias dependen parcialmente de tus decisiones y parcialmente del azar. <strong>Hay 3 series de preguntas.</strong> 
        La <strong>primera</strong> y <strong>segunda</strong> tienen 14 preguntas cada una, y la <strong>tercera</strong> tiene 7. Ello da un total de 35 preguntas. En cada una, se te 
        dará la opción de escoger entre dos loterías: <strong>la lotería A  y la lotería B</strong>. Debes escoger alguna pregunta a partir de la cual 
        prefieres la primera a la segunda o si siempre prefieres únicamente alguna de ellas. Después de que respondas las preguntas, la 
        computadora elegirá aleatoriamente alguna de ellas. Se jugará la lotería que escogiste para esa pregunta por dinero real.
    </p>

</div>


