{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>

    <p>
        En este juego, tus ganancias dependerán parcialmente de tus decisiones y parcialmente del azar.
        Hay 3 series de preguntas. La primera y segunda tienen 14 preguntas cada una, y la tercera tiene
        7. Ello da un total de 35 preguntas. En cada una, se te dará la opción de escoger entre dos loterías:
        la lotería A y la lotería B. Debes escoger alguna pregunta a partir de la cual prefieres la primera
        a la segunda o si siempre prefieres únicamente alguna de ellas. Después de que respondas las preguntas,
        la computadora eligirá aleatoriamente alguna de ellas. Se jugará la lotería que escogiste para esa
        pregunta por dinero real.
    </p>

</div>


