{% block title %}
    Instrucciones Generales
{% endblock %}

{% block content %}

<h4>Parte I</h4>

<p>
    En esta parte del experimento, usted participará con una pareja. Para ello, se 
    le asignará aleatoriamente a un grupo, <strong>A</strong> o <strong>B</strong>. Luego, se le asignará una pareja que pertenece 
    al grupo opuesto. Por ejemplo, si usted fue asignado(a) al grupo <strong>A</strong>, su pareja pertenecerá al grupo <strong>B</strong>; y, 
    viceversa. Su pareja será elegida al azar en cada ronda.
</p>

<p>
    Su tarea consiste en indicar a qué grupo fue asignado(a) usted (<strong>A</strong> o <strong>B</strong>), 
    a su pareja también se le pedirá lo mismo. 
</p>

<p>    
    Los pagos, en cada ronda, dependerán de la decisión que ambos tomen, como se muestra en la siguiente matriz.   
</p>    

<table class = 'table'>
    <thead>
        <th>Usted / Pareja</th>
        <th>Indica su grupo</th>
        <th>Indica el grupo contrario</th>     
    </thead>
    <tbody>
        <tr>
            <td>Indica su grupo</td>
            <td>(10, 10)</td>
            <td>(8, 13)</td>
        </tr>
        <tr>
            <td>Indica el grupo contrario</td>
            <td>(13, 8)</td>
            <td>(13, 13)</td>
        </tr>
    </tbody>
</table>

<p>
    Si usted indica a qué grupo fue asignado y su pareja indica a qué grupo fue asignada entonces el pago para ambos es igual a <b>10 soles</b>. Por otro lado, 
    si usted indica indica el grupo contrario y su pareja sí indica a qué grupo fue asignada entonces usted recibirá un pago de <b>13 soles</b> mientras que su pareja recibirá un pago de 
    <b>8 soles</b> y viceversa. Finalmente, si usted indica el grupo contrario y su pareja también entonces ambos recibirán un pago de <b>13 soles</b>. 
</p>


<h4>Parte II</h4>

<p>
    En esta parte del experimento, usted decidirá cómo asignar 100 bolillas entre dos cestas. 
    Las bolillas aparecerán en el centro de la pantalla, y usted asignará cada bolillas haciendo click en 
    ella y arrastrándola a la cesta de su elección. Sus ganancias por esta parte solo dependen de lo que usted haga. Así, por cada bolilla que usted coloque en la cesta azul, recibirá
    <strong>0.15 Soles</strong> (15 centavos de Sol), y por cada bolilla que coloque en la cesta amarilla, recibirá <strong>0.30 Soles</strong> 
    (30 centavos de Sol).
</p>

<p><strong>La regla en esta parte del experimento es poner las bolillas en la cesta azul.</strong></p>

<h4>Parte III</h4>

<p>
    En esta parte, tus ganancias dependerán parcialmente de tus decisiones y parcialmente del azar. <strong>Hay 3 series de preguntas.</strong> 
    La <strong>dos primeras</strong> series contienen 14 preguntas cada una; y la <strong>tercera</strong> contiene 7. Ello da un total de 35 preguntas. En cada serie, se te 
    dará la opción de escoger entre dos planes: <strong>el plan A  y el plan B</strong>. En su elección deberás indicar alguna pregunta a partir de la cual 
    prefieres el plan B en lugar del plan A; o si siempre prefiere el plan A o si siempre prefiere el plan B. Después de que respondas las preguntas, la 
    computadora elegirá aleatoriamente alguna de ellas Y se implementará el plan que escogiste para esa pregunta por dinero en efectivo.
</p>

<p>
Si terminaste de leer y de entender las instrucciones, por favor dale al boton "Siguiente"
</p>

    {% next_button %}

{% endblock %}