{% block title %}
    Instrucciones Generales
{% endblock %}

{% block content %}

<h4>Parte 1</h4>

<p>
    En esta parte del experimento, usted participará con una pareja. Para ello, se 
    le asignará aleatoriamente a un grupo, <strong>A</strong> o <strong>B</strong>. Luego, se le asignará una pareja que pertenece 
    al grupo opuesto. Por ejemplo, si usted fue asignado(a) al grupo <strong>A</strong>, su pareja pertenecerá al grupo <strong>B</strong>; y, 
    viceversa. Su pareja será elegida al azar y será la misma persona durante el resto de esta parte del experimento.
</p>

<p>
    Más adelante, se le pedirá que indique a qué grupo fue asignado(a) (<strong>A</strong> o <strong>B</strong>), 
    mientras que a su pareja también se le pedirá lo mismo. 
</p>

<p>    
    Los pagos, en cada ronda, dependerán de la decisión que ambos tomen, como se muestra en la siguiente matriz.   
</p>    

<table class = 'table'>
    <thead>
        <th>Usted / Pareja</th>
        <th>Indica su grupo</th>
        <th>Indica el grupo contrario</th>     
    </thead>
    <tbody>
        <tr>
            <td>Indica su grupo</td>
            <td>(10, 10)</td>
            <td>(8, 13)</td>
        </tr>
        <tr>
            <td>Indica el grupo contrario</td>
            <td>(13, 8)</td>
            <td>(13, 13)</td>
        </tr>
    </tbody>
</table>

<h4>Parte 2</h4>

<p>
    En este experimento, usted decidirá cómo asignar 100 bolitas entre dos cestas. 
    Las bolitas aparecerán en el centro de la pantalla, y usted asignará cada bolita haciendo click en 
    ella y arrastrándola a la cesta de su elección. Por cada bolita que coloque en la cesta azul, usted obtendrá 
    <strong>0.15 Soles</strong> (15 centavos de Sol), y por cada bolita que coloque en la cesta amarilla, usted obtendrá <strong>0.30 Soles</strong> 
    (30 centavos de Sol).
</p>

<p><strong>La regla en esta tarea es poner las bolitas en la cesta azul.</strong></p>

<h4>Parte 3</h4>

<p>
    En esta parte, tus ganancias dependen parcialmente de tus decisiones y parcialmente del azar. <strong>Hay 3 series de preguntas.</strong> 
    La <strong>primera</strong> y <strong>segunda</strong> tienen 14 preguntas cada una, y la <strong>tercera</strong> tiene 7. Ello da un total de 35 preguntas. En cada una, se te 
    dará la opción de escoger entre dos loterías: <strong>la lotería A  y la lotería B</strong>. Debes escoger alguna pregunta a partir de la cual 
    prefieres la primera a la segunda o si siempre prefieres únicamente alguna de ellas. Después de que respondas las preguntas, la 
    computadora elegirá aleatoriamente alguna de ellas. Se jugará la lotería que escogiste para esa pregunta por dinero real.
</p>

<p>
Si terminaste de leer y de entender las instrucciones, por favor dale al boton "Siguiente"
</p>

    {% next_button %}

{% endblock %}