{% block title %}
    Parte 1 
{% endblock %}

{% block content %}

<h4>Instrucciones</h4>

<p>
    En esta parte del experimento en cada ronda usted será asignado(a) a un grupo <strong>A</strong> o <strong>B</strong>. Luego, se le asignará una pareja que pertenece 
    al otro grupo. Por ejemplo, si usted fue asignado(a) al grupo <strong>A</strong>; su pareja pertenecerá al grupo <strong>B</strong>; y, 
    viceversa. Su pareja será elegida al azar en cada ronda.               
</p>

<p>
    Más adelante, se le pedirá que indique a qué grupo fue asignado(a) (<strong>A</strong> o <strong>B</strong>), 
    mientras que a su pareja también se le pedirá lo mismo. 
</p>

<p>    
    La decisión que ambos tomen definirá el pago que recibirán al final de cada ronda. A continuación, 
    se le mostrará muestra una matriz con los pagos que puede recibir, dependiendo de la decisión que realice 
    usted y su pareja. 
</p>    

<table class = 'table'>
    <thead>
        <th>Usted / Pareja</th>
        <th>Indica su grupo</th>
        <th>Indica el grupo contrario</th>     
    </thead>
    <tbody>
        <tr>
            <td>Indica su grupo</td>
            <td>(60, 60)</td>
            <td>(30, 90)</td>
        </tr>
        <tr>
            <td>Indica el grupo contrario</td>
            <td>(90, 30)</td>
            <td>(90, 90)</td>
        </tr>
    </tbody>
</table>    

{% if group.treatment == 'Time Pressure' %}

<p>
    Esta parte constará de 5 rondas.
    En este caso usted tendrá que tomar una decisión dentro de un <strong>plazo de 30 segundos</strong>. El cronómetro aparecerá
    en la parte superior de su pantalla. Usted podrá enviar su decisión antes de que el tiempo haya culminado si es que asi lo desea.
</p>

{% elif group.treatment == 'Time Delay' %}

<p>
    Esta parte constará de 5 rondas.
    En este caso usted tendrá que tomar una decisión dentro de un <strong>plazo de 10 segundos</strong>. El cronómetro aparecerá
    en la parte superior de su pantalla. El botón "Siguiente" aparecerá luego de haber pasado los 10 segundos.
</p>

{% elif group.treatment == 'Information' %}

<p>
    En este caso usted tendrá que indicar a qué grupo fue asignado (<strong>A</strong> o <strong>B</strong>). 
    Esto se repetirá por <strong>6 rondas</strong>. A partir de la segunda ronda, antes de indicar su decisión, 
    se le presentará una <strong>tabla con las decisiones que realizaron los participantes en la ronda previa</strong>. 
    Por ejemplo, si usted se encuentra en la ronda 5, antes de tomar su decisión se le presentará una 
    tabla con las decisiones que realizaron sus compañeros en la ronda 4.
</p>

{% endif %}
<p>
    <strong>
        Recuerde que para esta parte del experimento cada Punto equivale a 0.05 Soles. 
    </strong>
</p>

<p>
Si terminó de leer y de entender las instrucciones, por favor dele click al botón "Siguiente"
</p>



    {% next_button %}

{% endblock %}