{% block title %}
    Bienvenido
{% endblock %}

{% block content %}

<h3>Instrucciones</h3>

<h5>Juego 1</h5>

<p>
    En este estudio se jugarán 15 rondas de un juego. Jugará con otra persona 
    que se encuentra en la sesión. Esta persona será elegida al azar y será su 
    pareja durante el resto del juego. 
</p>

<p>
    Se le presentará una imagen del nombre de uno de los grupos formados (A o B). 
    Debajo de la imagen usted tendrá que rellenar un espacio en blanco con el grupo 
    al cual usted fue asignado al inicio de la sesión (A o B). 
</p>
<p>    
    Lo que usted coloque dentro del recuadro definirá el pago que recibirá cada uno. 
    Si coloca el grupo al cual fue asignado tal y como se especifica en la tarea, 
    usted y su pareja recibirán 10 soles. En caso contrario usted recibirá un pago 
    de 13 soles mientras que su pareja recibirá un pago de 8 soles.  
</p>    

<h5>Juego 2</h5>

<p>
    En este juego, tus ganancias dependen parcialmente de tus decisiones y 
    parcialmente del azar. Hay 3 series de preguntas. La primera y segunda tienen 
    14 preguntas cada una, y la tercera tiene 7. Ello da un total de 35 preguntas. 
    En cada una, se te dará la opción de escoger entre dos loterías: la lotería A y 
    la lotería B. Debes escoger alguna pregunta a partir de la cual prefieres la 
    primera a la segunda o si siempre prefieres únicamente alguna de ellas. Después 
    de que respondas las preguntas, la computadora elegirá aleatoriamente alguna de 
    ellas. Se jugará la lotería que escogiste para esa pregunta por dinero real.
</p>


<p>
Si terminaste de leer y entender las instrucciones, por favor dale al boton "Siguiente"
</p>

    {% next_button %}

{% endblock %}