{% block title %}
    Resultados
{% endblock %}

{% block content %}

<p>
    Puntaje que obtuvo en cada una de las rondas 
</p>

<table class="table">
    <thead>
        {{ for round in player.in_all_rounds  }}
        <th>Ronda {{ round.round_number }}</th>
        {{ endfor }}
    </thead>
    <tbody>
        <tr>
            {{ for round in player.in_all_rounds  }}
            <td>{{ round.payoff }}</td>
            {{ endfor }}
        </tr>
    </tbody>
</table>

<p>
    Se elegió aleatoriamente el pago de una de las rondas para que sea su pago final por esta parte del experimento
</p>

<p>
    La ronda elegida aleatoriamente para su pago es la <strong>Ronda</strong> {{ pay_round }}
</p>

<p>
    <strong>Su pago final es: {{ final_payoff }}</strong> Puntos y en Soles es <strong> {{ final_payoff_soles }}</strong>
</p>

{% next_button %}

{% endblock %}