{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Pagos
{% endblock %}

{% block content %}

    <table class = 'table'>
        <thead>
            <th>Parte del Experimento</th>
            <th>Pago en Soles</th>
        </thead>
        <tbody>
            {% for app, pago in pagos_apps.items %}
            <tr>
                <td>{{ app }}</td>
                <td>{{ pago }}</td>
            </tr>
            {% endfor %}
            <tr></tr>
            <tr>
                <td><strong>Pago Total + Pago por Participar ({{ participant_fee }})</strong></td>
                <td><strong>{{ pago_total }}</strong></td>
            </tr>
        </tbody>
    </table>
    {% next_button %}

{% endblock %}
