{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Parte IV
{% endblock %}

{% block content %}

    <h4>Instrucciones</h4>

    <p>
        En esta parte del experimento se te presentará una lista con 21 asignaciones de dinero para ti y otra persona.
        Para cada asignación tu podrás indicar qué tan satisfecho te encuentras con esa asignación. Para esto al lado de cada 
        asignación hay una barra que la puedes mover para indicar tu nivel de satisfacción, la cual va desde 1 hasta el 7, donde 1 
        representa que estás "Extremadamente Insatisfecho" y 7 "Extremadamente Satisfecho".
    </p>

    <p>Si terminaste de leer y comprender las instrucciones por favor dar click en el botón "Siguiente"</p>

    {% next_button %}

{% endblock %}

