{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Parte III
{% endblock %}

{% block content %}

    <h4>Instrucciones</h4>

    <p>
        Esta parte del experimento contiene 21 filas con diferentes formas de distribuir dinero entre usted y una pareja, que será escogida al azar.
    </p>

    <p>
        Usted deberá indicar su nivel de satisfacción respecto de diferentes formas de repartir dinero (Puntos), en un escala del 1 al 7,
         donde 1 equivale a estar "Extremadamente Insatisfecho" y 7 equivale a estar "Extremadamente satisfecho".  
    </p>

    <p>
        En cada fila, mueva el deslizador ("slider") a la posición que mejor represente su nivel de satisfacción con el correspondiente reparto de Puntos. 
    </p>

    <p>
        No hay respuestas correctas ni incorrectas. Usted puede mover todos los deslizadores cuantas veces desee antes de presionar el botón de "Enviar" de color azul.
    </p>

    <p>
        Con respecto al <strong>pago</strong> de esta parte del experimento, se elegirá de manera aleatoria una de las filas. Luego de ello, uno de los montos de la fila escogida será elegido 
        también de manera aleatoria, para determinar el pago de usted y el de la persona que con quien se le emparejó. Por ejemplo, si se escoge al azar la primera fila, que indica "Usted 
        obtiene 20 Puntos y la otra persona obtiene 10 Puntos", usted podrá obtener 20 Puntos ó 10 Puntos, con 50% de probabilidad, al igual que su pareja. Si, por ejemplo, usted obtiene, al azar, 
        los 20 Puntos, su pareja obtendrá 10 Puntos; y, viceversa.
    </p>
    <p>
        Otros ejemplos: Si es escogida al azar la fila 11, que indica "Usted obtiene 20 Puntos y la otra persona obtiene 20 Puntos", entonces, tanto usted, como la persona con quien se le 
        emparejó obtendrán 20 Puntos. Por otro lado, si es escogida la fila 21, que indica: "Usted obtiene 20 Puntos y la otra persona obtiene 30 Puntos", entonces, usted podría tener 20 Puntos 
        ó 30 Puntos, con el 50% de probabilidad, al igual que la persona con quien se le emparejó. Si uno de ustedes obtiene los 20 Puntos, la otra obtendrá los 30 Puntos.
    </p>

    <p>
        <strong>
            Es importante mencionar que la posición de los deslizadores no influye en el pago final
        </strong>
    </p>

    <div class="card bg-light" style = "padding: 20px;">
        <strong>
            Recuerde que para esta parte del experimento cada Punto equivale a {{ exchange_points }} Soles. 
        </strong>
    </div>
    <br>

    <p>Si terminó de leer y comprender las instrucciones por favor dar click en el botón "Siguiente"</p>

    {% next_button %}

{% endblock %}

