{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Parte III
{% endblock %}

{% block content %}

    <h4>Instrucciones</h4>

    <p>
        En esta parte del experimento se le presentará una lista con 21 asignaciones de dinero para usted y otra persona.
        Para cada asignación usted podrá indicar qué tan satisfecho se encuentra con esa asignación. Para esto al lado de cada 
        asignación hay una barra que la puedes mover para indicar su nivel de satisfacción, la cual va desde 1 hasta el 7, donde 1 
        representa que estás "Extremadamente Insatisfecho" y 7 "Extremadamente Satisfecho".
    </p>

    <p>
        <strong>
            Recuerde que para esta parte del experimento cada Punto equivale a 0.05 Soles. 
        </strong>
    </p>

    <p>Si terminó de leer y comprender las instrucciones por favor dar click en el botón "Siguiente"</p>

    {% next_button %}

{% endblock %}

